    body
    {
        font-family: 'Alegreya Sans SC', sans-serif;
        background-color: #c2cfff;
    }

    .menu
    {
        background-color: #ffc2e0;
        margin: 50px 20px;
        width: 320px;
        padding: 10px 20px;
        border: 3px groove #d4689c;
        border-radius:3px;
    }

    .header
    {
        width: 650px;
        margin: 50px 50px 0px 50px;
        padding: 10px;
        background-color: white;
    }

    .content
    {
        width: 650px;
        background-color: #fdffba;
        margin: 25px 50px;
        padding: 15px;
    }

    .recipe
    {
        background-color: white;
        padding: 10px;
        margin-bottom: 15px;
    }

    .flex-container
    {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .button
    {
        background-color: #ffc2e0;
        width: 100%;
        padding: 7px;
        font-family: 'Alegreya Sans SC', sans-serif;
        border-color: #e089b3;
        border-top: none;
        border-left: none;
        border-right: none;
        height: 50px;
        outline: none;
    }

    .button:active,
    .button:focus
    {
        outline: none;
    }

    .button:hover
    {
        background-color: #ffe0ef;
    }

    .text
    {
        margin-bottom: 40px;
    }

    .show
    {
        display: none;
    }

    a
    {
        display: block;
        margin-bottom: 6px;
    }

    .full_text
    {
        margin-top: 10px;
        display: none;
    }

    .button1
    {
        color: blue;
        text-decoration: underline;
        border: none;
        outline: none;
        background-color: white;
        font-family: 'Alegreya Sans SC', sans-serif;
        font-size: 1em;
    }

    .button1:hover
    {
        color: red;
    }

    .button1:active,
    .button1:focus
    {
        border: none;
        outline: none;
    }

    .search
    {
        margin-top: 25px;
        margin-left: 80px;
        width: 160px;
        height: 30px;
        background-color: #f7f7f7;
        font-family: 'Alegreya Sans SC', sans-serif;
        border: 1.5px groove #d9d9d9;
        border-radius:3px;
        outline: none;
    }

    .search:active,
    .search:focus
    {
        outline: none;
    }

    .search:hover
    {
        background-color: #ebebeb;
    }

    span
    {
        padding-bottom: 15px;
    }